<section class="user-profile">
  <div class="user-avatar"><img class="mt-2" {{#if user.image}}src={{user.image}}{{/if}}
    style="background: #C4C4C4;  width: 150px; height: 150px">
  <div class="user-info">
    <h1 class="user-name">{{user.name}}</h1>
    <p class="email">{{user.email}}</p>
    {{#ifCond userId user.id}}
    <form action="/users/{{user.id}}/edit" method="GET" style="display: contents;"><button type="submit"
        class="btn btn-primary">Edit</button></form>
    {{/ifCond}}
  </div>
</section>