<header>
  <link rel="stylesheet" href="/stylesheets/sign.css">
</header>
<div class="row mb-5">
  <div class="form-sign-in col-md-5  m-auto">
    <div class="sign-in">
          {{> message}}
      <h2 class="text-center mt-3 mb-3">Sign In</h2>
      <form action="/signin" method="POST">
        <div class="form-group">
          <label for="inputEmail">Email</label><i class="far fa-envelope ml-1"></i>
          <input type="email" name="email" class="form-control" placeholder="Enter Email" required autofocus autocomplete="on" value="{{email}}">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label><i class="fas fa-lock ml-1"></i>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-block btn-outline-primary ">Submit</button>
      </form>
      <p class="lead mt-4">
        No Account？ <a href="/signup">Sign Up</a>
      </p>
    </div>
  </div>
</div>
<footer>
<p class="mt-5 mb-3 text-muted">© 2020-2021</p>
</footer>