.card-header {
  font-size: 1.5rem;
}

.feeds-restaurant-name {
  color: #000080;
  font-size: 1.75rem;
}

.feeds-restaurant-category {
  margin-left: 5px;
}
.feeds-restaurant-description {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.feeds-restaurant-createdAt {
  font-size: 1rem;
  color: #708090;
}
.feeds-comment-restaurant-name {
  color: #000080;
  font-size: 1.75rem;
}
.feeds-comment-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.feeds-comment-createdAt {
  font-size: 1rem;
  color: #708090;
}
.feeds-comment-user {
  color: black;
}
