.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.user-profile {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  border: rgb(201, 201, 201) 1px solid;
  overflow: hidden;
  margin: 25px auto;
  padding-bottom: 1rem;
}
.user-avatar {
  width: auto;
  height: 100%;
}
.user-avatar-img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.user-name {
  font-size: 3rem;
}
.email {
  font-size: 1.2rem;
}
.user-info {
  position: relative;
}
.edit-button,
.remove-follow-button,
.follow-button {
  position: absolute;
  bottom: 0rem;
  left: 3rem;
}
.comment-counts,
.favorite-counts,
.following-counts,
.followers-counts {
  font-size: 1.25rem;
}
.followers-counts {
  margin-bottom: 3rem;
}
.followings-image {
  object-fit: cover;
}
.lists {
  margin: 25px auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1.5rem;
}
.following-list,
.comment-list,
.follower-list,
.favorite-list {
  border: rgb(201, 201, 201) 1px solid;
  margin-bottom: 20px;
}
.list-title {
  background: rgba(236, 235, 235, 0.959);
  font-weight: 700;
  font-size: 1.45rem;
  justify-self: start;
  padding: 5px 0 5px 15px;
}
.following-avatars,
.comment-restaurant,
.following-avatars,
.favorite-restaurant {
  width: 100%;
  padding: 10px 4px 5px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.favorite-restaurant-image,
.followings-image,
.comment-restaurant-image,
.followings-image {
  margin-right: 6px;
  margin-bottom: 6px;
}
.comment-restaurant-image,
.favorite-restaurant-image {
  width: 75px;
  height: 75px;
}
