.row {
  height: 100%;
}
.restaurant-name {
  font-size: 1.5rem;
  color: #000080;
}
.card-img-top {
  object-fit: cover;
}
.card {
  position: relative;
}
.favorite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.like-button {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
.card-text {
  margin-bottom: 1rem;
}
